@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {box-sizing: border-box;}

body{
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

/* ----- HEADER/NAV ----- */
nav{
    position: fixed;
    top: 0;
    padding-left: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
nav h1{
    font-family: Righteous;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    text-align: left;
}
nav h2{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

/* ----- CONTEUDO ----- */

main{
    margin-top: 115px;
    margin-left: 20px;
    margin-bottom: 92px;
}
section{
    display: block;
    margin-bottom: 27px;
}
section h1 {
    background-color: none;
    color:#333333;
    font-family: Righteous;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    margin-bottom: 17px;
}
.escolhas{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    /* background-color: darksalmon; */
}
.escolha{
    width: 172px;
    height: 216px;
    background-color: #fff;
    margin-right: 12px;
    border-radius: 9px;
    margin-bottom: 7px;
    padding: 18px 14px 14px 14px;
    position: relative;
}
.escolha img{
    height: 87px;
    width: 144px;
    border-radius: 4px;
    margin-bottom: 8px;
    object-fit: cover;
}
.escolha h2{
    color: #333333;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;
}
.escolha h3{
    color: #A6A6A6;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
}
.escolha h4{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 70px;
    color: #000000;
}
.icone{
    z-index: -1;
    position: absolute;
    right: 13px;
    bottom: 15px;
}
footer{
    display: flex;
    position: fixed;
    height: 92px;
    width: 100%;
    bottom: 0;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    z-index: 10;
    padding: 0 25px 0 25px;
}
footer button{
    display: flex;
    height: 61px;
    width: 364px;
    background: #CBCBCB;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    padding: 0 65px 0 65px;
    cursor: pointer;
    text-decoration: none;
}
footer h5{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #FFFFFF;
}
.bordaEicone{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    color: #32B72F;
    z-index: 2; 
}
.botaoAtivo{
    background-color: #32B72F;
}
.link{
    text-decoration: none;
}